In [1]:
!pip install mysql.connector

Processing c:\users\vishal\appdata\local\pip\cache\wheels\42\2f\c3\692fc7fc1f0d8c06b9175d94f0fc30f4f92348f5df5af1b8b7\mysql_connector-2.2.9-cp37-cp37m-win_amd64.whl
Installing collected packages: mysql.connector
Successfully installed mysql.connector

In [2]:
import mysql.connector

In [3]:
#!pip install mysql-connector-python

In [4]:
import pandas as pd

In [11]:
cnx = mysql.connector.connect(user='root', password='Vishal123',
                              host='127.0.0.1', database='test',
                              auth_plugin='mysql_native_password')

NotSupportedError: Authentication plugin 'caching_sha2_password' is not supported

cnx = mysql.connector.connect(user='', password="", # required
port=port_number,
host="localhost", # required
database='database_name',
auth_plugin='mysql_native_password' # required
)

MySQL Command Line Client
ALTER USER 'root'@'localhost' IDENTIFIED BY 'your_password' PASSWORD EXPIRE NEVER;
ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'your_password';

you_password is the password you use to sign in your mysql

In [6]:
cnx

In [13]:
df = pd.read_sql('SELECT * FROM data', con=cnx)

df.head()

   id     name
0   1    Ram\r
1   2  Shyam\r
2   3  Geeta\r
3   4   Sita\r
4   5    Ravan